<a href="https://colab.research.google.com/github/Neefitz62730/nuclio-git-course/blob/master/Entregable_1___Data_Engineering_FITZ_V1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_bmw= pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Proyecto entregrable/bmw_pricing_v3 (1).csv")

### Lectura Dataset ###

In [ ]:
df_bmw.head()

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
0,NaN,118,140411.0,100.0,2012-02-01,diesel,black,NaN,True,True,False,NaN,True,NaN,True,NaN,11300.0,2018-01-01
1,BMW,M4,13929.0,317.0,NaN,petrol,grey,convertible,True,True,False,NaN,False,True,True,True,69700.0,2018-02-01
2,BMW,320,183297.0,120.0,2012-04-01,diesel,white,NaN,False,False,False,NaN,True,False,True,False,10200.0,2018-02-01
3,BMW,420,128035.0,135.0,NaN,diesel,red,convertible,True,True,False,NaN,True,True,True,NaN,25100.0,2018-02-01
4,BMW,425,97097.0,160.0,NaN,diesel,silver,NaN,True,True,False,False,False,True,True,True,33400.0,2018-04-01

In [ ]:
df_bmw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   marca                        3873 non-null   object
 1   modelo                       4840 non-null   object
 2   km                           4841 non-null   float64
 3   potencia                     4842 non-null   float64
 4   fecha_registro               2420 non-null   object
 5   tipo_gasolina                4838 non-null   object
 6   color                        4398 non-null   object
 7   tipo_coche                   3383 non-null   object
 8   volante_regulable            4839 non-null   object
 9   aire_acondicionado           4357 non-null   object
 10  camara_trasera               4841 non-null   object
 11  asientos_traseros_plegables  1452 non-null   object
 12  elevalunas_electrico         4841 non-null   object
 13  bluetooth                    4115 non-null   object
 14  gps                          4843 non-null   bool
 15  alerta_lim_velocidad         4115 non-null   object
 16  precio                       4837 non-null   float64
 17  fecha_venta                  4842 non-null   object
dtypes: bool(1), float64(3), object(14)
memory usage: 648.1+ KB

In [ ]:
df_bmw.shape

(4843, 18)

### Duplicated ###

In [ ]:
df_bmw[df_bmw.duplicated(keep=False)]

Empty DataFrame
Columns: [marca, modelo, km, potencia, fecha_registro, tipo_gasolina, color, tipo_coche, volante_regulable, aire_acondicionado, camara_trasera, asientos_traseros_plegables, elevalunas_electrico, bluetooth, gps, alerta_lim_velocidad, precio, fecha_venta]
Index: []

In [ ]:
df_bmw[df_bmw.duplicated(keep=False)].sum()

marca                            0
modelo                           0
km                             0.0
potencia                       0.0
fecha_registro                   0
tipo_gasolina                    0
color                            0
tipo_coche                       0
volante_regulable                0
aire_acondicionado               0
camara_trasera                   0
asientos_traseros_plegables      0
elevalunas_electrico             0
bluetooth                        0
gps                              0
alerta_lim_velocidad             0
precio                         0.0
fecha_venta                      0
dtype: object

In [ ]:
df_bmw[df_bmw.duplicated(keep=False)].any()

marca                          False
modelo                         False
km                             False
potencia                       False
fecha_registro                 False
tipo_gasolina                  False
color                          False
tipo_coche                     False
volante_regulable              False
aire_acondicionado             False
camara_trasera                 False
asientos_traseros_plegables    False
elevalunas_electrico           False
bluetooth                      False
gps                            False
alerta_lim_velocidad           False
precio                         False
fecha_venta                    False
dtype: bool

### Nulos ###

   Creaccion lista

In [ ]:
target = ["precio"]

In [ ]:
for i in df_bmw:
 print(i,df_bmw[i].dtype.kind)

marca O
modelo O
km f
potencia f
fecha_registro O
tipo_gasolina O
color O
tipo_coche O
volante_regulable O
aire_acondicionado O
camara_trasera O
asientos_traseros_plegables O
elevalunas_electrico O
bluetooth O
gps b
alerta_lim_velocidad O
precio f
fecha_venta O

In [ ]:
df_bmw.isnull().sum()

marca                           970
modelo                            3
km                                2
potencia                          1
fecha_registro                 2423
tipo_gasolina                     5
color                           445
tipo_coche                     1460
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

In [ ]:
df_bmw["marca"].value_counts()

marca
BMW    3873
Name: count, dtype: int64

In [ ]:
df_bmw2=df_bmw.copy()

### Variable Marca: Replace con BMW ###

In [ ]:
df_bmw2["marca"].fillna("BMW", inplace=True)

/tmp/ipython-input-431-1968138278.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_bmw2["marca"].fillna("BMW", inplace=True)

In [ ]:
df_bmw2["marca"].isnull().sum()

np.int64(0)

Elininar columna Asiento plegables

In [ ]:
del(df_bmw2["asientos_traseros_plegables"])

In [ ]:
df_bmw2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   marca                 4843 non-null   object
 1   modelo                4840 non-null   object
 2   km                    4841 non-null   float64
 3   potencia              4842 non-null   float64
 4   fecha_registro        2420 non-null   object
 5   tipo_gasolina         4838 non-null   object
 6   color                 4398 non-null   object
 7   tipo_coche            3383 non-null   object
 8   volante_regulable     4839 non-null   object
 9   aire_acondicionado    4357 non-null   object
 10  camara_trasera        4841 non-null   object
 11  elevalunas_electrico  4841 non-null   object
 12  bluetooth             4115 non-null   object
 13  gps                   4843 non-null   bool
 14  alerta_lim_velocidad  4115 non-null   object
 15  precio                4837 non-null   float64
 16  fecha_venta           4842 non-null   object
dtypes: bool(1), float64(3), object(13)
memory usage: 610.2+ KB

### eliminar categorie con nulos inf a 10:
modelo, Potencia, Volante reglable, Fecha venta, KM, Volante reglable,tipo_gasolina, camara_trasera, elevalunas_electrico ###

In [ ]:
df_bmw3=df_bmw2.copy()

In [ ]:
df_bmw3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   marca                 4843 non-null   object
 1   modelo                4840 non-null   object
 2   km                    4841 non-null   float64
 3   potencia              4842 non-null   float64
 4   fecha_registro        2420 non-null   object
 5   tipo_gasolina         4838 non-null   object
 6   color                 4398 non-null   object
 7   tipo_coche            3383 non-null   object
 8   volante_regulable     4839 non-null   object
 9   aire_acondicionado    4357 non-null   object
 10  camara_trasera        4841 non-null   object
 11  elevalunas_electrico  4841 non-null   object
 12  bluetooth             4115 non-null   object
 13  gps                   4843 non-null   bool
 14  alerta_lim_velocidad  4115 non-null   object
 15  precio                4837 non-null   float64
 16  fecha_venta           4842 non-null   object
dtypes: bool(1), float64(3), object(13)
memory usage: 610.2+ KB

In [ ]:
df_bmw3.isna().sum()

marca                      0
modelo                     3
km                         2
potencia                   1
fecha_registro          2423
tipo_gasolina              5
color                    445
tipo_coche              1460
volante_regulable          4
aire_acondicionado       486
camara_trasera             2
elevalunas_electrico       2
bluetooth                728
gps                        0
alerta_lim_velocidad     728
precio                     6
fecha_venta                1
dtype: int64

In [ ]:
df_bmw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   marca                        3873 non-null   object
 1   modelo                       4840 non-null   object
 2   km                           4841 non-null   float64
 3   potencia                     4842 non-null   float64
 4   fecha_registro               2420 non-null   object
 5   tipo_gasolina                4838 non-null   object
 6   color                        4398 non-null   object
 7   tipo_coche                   3383 non-null   object
 8   volante_regulable            4839 non-null   object
 9   aire_acondicionado           4357 non-null   object
 10  camara_trasera               4841 non-null   object
 11  asientos_traseros_plegables  1452 non-null   object
 12  elevalunas_electrico         4841 non-null   object
 13  bluetooth                    4115 non-null   object
 14  gps                          4843 non-null   bool
 15  alerta_lim_velocidad         4115 non-null   object
 16  precio                       4837 non-null   float64
 17  fecha_venta                  4842 non-null   object
dtypes: bool(1), float64(3), object(14)
memory usage: 648.1+ KB

In [ ]:
def eliminar_nulos_inf10 (df,columna):
  df_nulo = df.dropna(subset=columna, inplace= True)
  return df[columna].isnull().sum()

In [ ]:
eliminar_nulos_inf10 (df_bmw3,"modelo")

np.int64(0)

In [ ]:
eliminar_nulos_inf10 (df_bmw3,"potencia")

np.int64(0)

In [ ]:
eliminar_nulos_inf10 (df_bmw3,"volante_regulable")

np.int64(0)

In [ ]:
eliminar_nulos_inf10 (df_bmw3,"fecha_venta")

np.int64(0)

In [ ]:
eliminar_nulos_inf10 (df_bmw3,"km")

np.int64(0)

In [ ]:
eliminar_nulos_inf10 (df_bmw3,"tipo_gasolina")

np.int64(0)

In [ ]:
eliminar_nulos_inf10 (df_bmw3,"camara_trasera")

np.int64(0)

In [ ]:
eliminar_nulos_inf10 (df_bmw3,"elevalunas_electrico")

np.int64(0)

PRECIO: Eliminar nulos

In [ ]:
eliminar_nulos_inf10 (df_bmw3,"precio")

np.int64(0)

####Color###
Replace NAN y color inferior a 10% del DF por otro

In [ ]:
df_bmw4=df_bmw3.copy()

In [ ]:
df_bmw4.color.value_counts(dropna=False, normalize=True)*100

color
black     30.911356
grey      22.150716
blue      13.348557
white      9.964708
NaN        9.175836
brown      6.269462
silver     6.020345
red        0.975711
beige      0.768113
green      0.290637
orange     0.124559
Name: proportion, dtype: float64

In [ ]:
df_bmw4.color.value_counts(dropna=False, normalize=True).head(3).sum()*100

np.float64(66.410629022213)

In [ ]:
filtro_color= (df_bmw4.color.value_counts(dropna=False, normalize=True).head(3).index.tolist())

In [ ]:
filtro_color

['black', 'grey', 'blue']

In [ ]:
df_bmw4.loc[~df_bmw4.color.isin(filtro_color), "color"] = "Otro"

In [ ]:
df_bmw4.color.value_counts(normalize=True)*100

color
Otro     33.589371
black    30.911356
grey     22.150716
blue     13.348557
Name: proportion, dtype: float64

###Modelo###
Creaccion categoria mixta

In [ ]:
df_bmw4.modelo.value_counts(dropna=False, normalize=True)*100

modelo
320                  15.507577
520                  13.078680
318                  11.667013
X3                    9.072037
116                   7.432012
                       ...
216                   0.020760
220 Active Tourer     0.020760
 Active Tourer        0.020760
225 Active Tourer     0.020760
214 Gran Tourer       0.020760
Name: proportion, Length: 76, dtype: float64

In [ ]:
df_bmw4.modelo.value_counts(dropna=False, normalize=True).head(10).sum()

np.float64(0.7911563213618434)

In [ ]:
filtro_modelo= (df_bmw4.modelo.value_counts().head(10).index.tolist())

In [ ]:
filtro_modelo

['320', '520', '318', 'X3', '116', 'X1', '316', 'X5', '525', '530']

In [ ]:
df_bmw4.loc[~df_bmw4.modelo.isin(filtro_modelo), "modelo"] = "Sin_especificar"

In [ ]:
df_bmw4.modelo.value_counts(normalize=True)*100

modelo
Sin_especificar    20.884368
320                15.507577
520                13.078680
318                11.667013
X3                  9.072037
116                 7.432012
X1                  5.688188
316                 4.837035
X5                  4.795516
525                 3.778285
530                 3.259290
Name: proportion, dtype: float64

###Tipo Coche###
Fill in con Desconocido y agrupar categoria con menos de 10%

In [ ]:
df_bmw4.tipo_coche.value_counts(dropna=False, normalize=True)*100

tipo_coche
NaN            30.080963
estate         22.773510
sedan          17.043803
suv            15.652896
hatchback      10.130787
subcompact      1.598505
coupe           1.515466
convertible     0.622794
van             0.581275
Name: proportion, dtype: float64

In [ ]:
df_bmw4.tipo_coche.fillna("desconocido", inplace= True)

NameError: name 'df_bmw4' is not defined

In [ ]:
filtro_tipo_coche= df_bmw4.tipo_coche.value_counts().head(5).index.tolist()

In [ ]:
filtro_tipo_coche

['desconocido', 'estate', 'sedan', 'suv', 'hatchback']

In [ ]:
df_bmw4.loc[~df_bmw4.tipo_coche.isin(filtro_tipo_coche), "tipo_coche"] = "Otro"

In [ ]:
df_bmw4.tipo_coche.value_counts(normalize=True)

tipo_coche
desconocido    0.300810
estate         0.227735
sedan          0.170438
suv            0.156529
hatchback      0.101308
Otro           0.043180
Name: proportion, dtype: float64

### Potencia###
Agrupar potencia fuera del Head 10

In [ ]:
df_bmw4.potencia.value_counts(dropna=False, normalize=True).head(10)

potencia
135.0    0.181233
120.0    0.162549
85.0     0.130579
100.0    0.117708
105.0    0.092589
190.0    0.066016
140.0    0.034461
160.0    0.031555
110.0    0.029271
230.0    0.024497
Name: proportion, dtype: float64

In [ ]:
df_bmw4.potencia.value_counts(dropna=False, normalize=True).head(10).sum()

np.float64(0.8704587917791156)

In [ ]:
filtro_potencia= df_bmw4.potencia.value_counts().head(10).index.tolist()

In [ ]:
filtro_potencia

[135.0, 120.0, 85.0, 100.0, 105.0, 190.0, 140.0, 160.0, 110.0, 230.0]

In [ ]:
df_bmw4.loc[~df_bmw4.potencia.isin(filtro_potencia), "potencia"] = "Various"

/tmp/ipython-input-472-2779532049.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Various' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_bmw4.loc[~df_bmw4.potencia.isin(filtro_potencia), "potencia"] = "Various"

In [ ]:
df_bmw4.potencia.value_counts(normalize=True)*100

potencia
135.0      18.123313
120.0      16.254930
85.0       13.057920
Various    12.954121
100.0      11.770812
105.0       9.258875
190.0       6.601619
140.0       3.446128
160.0       3.155491
110.0       2.927133
230.0       2.449657
Name: proportion, dtype: float64

### alerta_lim_velocidad: Replazar nulos por "Desconocido"###

In [ ]:
df_bmw4.alerta_lim_velocidad.value_counts(dropna=False, normalize=True)*100

alerta_lim_velocidad
True     46.211335
False    38.737804
NaN      15.050862
Name: proportion, dtype: float64

In [ ]:
df_bmw4.alerta_lim_velocidad.fillna("Desconocido", inplace = True)

In [ ]:
df_bmw4.alerta_lim_velocidad.value_counts(normalize=True)*100

alerta_lim_velocidad
True           46.211335
False          38.737804
Desconocido    15.050862
Name: proportion, dtype: float64

In [ ]:
df_bmw4.alerta_lim_velocidad.isnull().sum()

np.int64(0)

###aire_acondicionado: Replazar por la moda###
aire_acondicionado, bluetooth

In [ ]:
df_bmw5=df_bmw4.copy()

In [ ]:
def remplazar_nulos_mode (df, columna):
  filtro_nulo=df[columna].isna()
  mode=df[~filtro_nulo][columna].mode()[0]
  df.loc[filtro_nulo, columna]= mode
  return df[columna].isna().sum()

In [ ]:
remplazar_nulos_mode (df_bmw5, "aire_acondicionado")

np.int64(0)

In [ ]:
df_bmw5.aire_acondicionado.value_counts(dropna=False, normalize=True)*100

aire_acondicionado
True     81.606809
False    18.393191
Name: proportion, dtype: float64

In [ ]:
df_bmw5.bluetooth.value_counts(dropna=False, normalize=True)*100

bluetooth
False    64.376168
True     20.572971
NaN      15.050862
Name: proportion, dtype: float64

In [ ]:
remplazar_nulos_mode (df_bmw5, "bluetooth")

np.int64(0)

In [ ]:
df_bmw5.isnull().sum()

marca                      0
modelo                     0
km                         0
potencia                   0
fecha_registro          2409
tipo_gasolina              0
color                      0
tipo_coche                 0
volante_regulable          0
aire_acondicionado         0
camara_trasera             0
elevalunas_electrico       0
bluetooth                  0
gps                        0
alerta_lim_velocidad       0
precio                     0
fecha_venta                0
dtype: int64